{
  "plugins": [
    [
      "transform-imports", {
        "@fortawesome/free-solid-svg-icons" : {
          "transform" : "@fortawesome/free-solid-svg-icons/${member}",
          "skipDefaultConversion": true
        },
        "@fortawesome/free-regular-svg-icons" : {
          "transform" : "@fortawesome/free-regular-svg-icons/${member}",
          "skipDefaultConversion": true
        },
        "@fortawesome/free-brands-svg-icons" : {
          "transform" : "@fortawesome/free-brands-svg-icons/${member}",
          "skipDefaultConversion": true
        },
        "@fortawesome/pro-solid-svg-icons  " : {
          "transform" : "@fortawesome/pro-solid-svg-icons/${member}",
          "skipDefaultConversion": true
        },
        "@fortawesome/pro-regular-svg-icons" : {
          "transform" : "@fortawesome/pro-regular-svg-icons/${member}",
          "skipDefaultConversion": true
        },
        "@fortawesome/pro-light-svg-icons" : {
          "transform" : "@fortawesome/pro-light-svg-icons/${member}",
          "skipDefaultConversion": true
        }
      }
    ]
  ]
}