* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100vh;
	padding: 0;
	margin: 0;
	font-family: $bodytext;
}

.fixed-background {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

h1 {
	font-family: $headertext;
}

h2 {
	font-family: $headertext;
}

h3, h4, h5, h6 {
	font-family: $headertext;
}

p {
	font-family: $bodytext;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: $secondary;
	font-family: $bodytext;
	font-size: 20px;

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
		color: #fff;

		.a-arrow {
			border-color: #fff;

			&:after {
				content: '';
				border-color: #fff;
			}
		}
	}
}

.a-arrow {
	border-top: 1px solid $secondary;
	position: relative;
	bottom: -50%;
	width: 16px;
	height: 8px;
	display: inline-block;
	margin-top: 5px;
	margin-right: 8px;

	&:after {
		content: '';
		position: absolute;
		right: 0;
		bottom: 50%;
		width: 8px;
		height: 8px;
		border-right: 1px solid $secondary;
		border-top: 1px solid $secondary;
		transform: rotate(45deg);
	}
}

.outline {
	color: inherit;
	-webkit-text-fill-color: rgba(0, 0, 0, 0);
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #fff;
}

.big-header {
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	font-family: $headertext;

	@include media-breakpoint-up(md) {
		font-size: 60px;
	}

	@include media-breakpoint-up(xl) {
		font-size: 80px;
	}
}

.scroll-to-top {
	color: #fff;
	background-color: #000;
	opacity: 0.7;
	display: inline-block;
	position: fixed;
	bottom: 50px;
	right: 50px;
	transition: 300ms ease-in-out;
	cursor: pointer;
	pointer-events: auto;
	z-index: 10000000;

	a {
		text-align: center;
		width: 100%;
		height: auto;
		display: block;
		width: 40px;
		height: 40px;
		padding-top: 3px;
		font-size: 23px;
		color: #fff;
	}

	&:hover,
	&:active,
	&:focus {
		opacity: 1;
	};
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: 1;

	.navbar-brand {
		.logo {
			width: 150px;
			height: auto;
		}
	}

	.navbar {
		padding-left: 0;

		.nav-link {
			padding-left: 0;
			padding-right: 0;
			margin-right: 20px;
		}

		> .container {
			margin: 0;
			padding: 0;
			max-width: 100%;
		}

		.navbar-nav {
			a {
				color: #fff;
				font-weight: 700;
				font-size: 14px;

				&:hover,
				&:active,
				&:focus {
					color: $secondary;
				}

				&.active {
					color: #fff;
				}
			}
		}
	}
}

#list-home {
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 15px;
	display: inline-block;
	z-index: 10;
	color: #fff;

	a {
		padding: 0;
		margin: 0;
		font-weight: 400;
		background-color: transparent;
		border: 0;

		p {
			font-size: 14px;
			color: rgba(#fff, 0.5);
			padding: 0;
			margin: 10px 0;
		}

		&.active {
			position: relative;
			padding-bottom: 50px;

			p {
				color: #fff;
			}

			&:after {
				content: '';
				height: 50px;
				width: 2px;
				background-color: #fff;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}


.background {
	width: 100%;
	min-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;

	&.background-overlay:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba($primary, 0.9);
	}
}

.side-content-block, .main-content-block {
	margin-top: 90px;
	width: 100%;
}

.side-content-block {
	padding: 80px 0 100px 50px;
	color: #fff;
}

.main-content-block {
	color: #fff;
}



.video-banner {
	display: block;
	width: 100%;
	height: 500px;
	min-height: 40vh;
	padding-left: 0;

	@include media-breakpoint-up(lg) {
		min-height: 70vh;
		height: 500px;
	}

	.image {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
}

.info-banner {
	display: block;
	width: 100%;
	height: 200px;
	min-height: 20vh;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding-left: 0;

	h1 {
		line-height: 0.8;
	}
}

#where-the-wild-is {
	> .container-fluid {
		> .row {
			min-height: 100vh; 
			align-items: center;
		}
	}

	.where-the-wild-is {
		width: 100%;
		background-color: $primary;
		padding-left: 90px;
		position: relative;

		&:after {
			content: '02';

			@extend .outline;
			@extend h1;

			position: absolute;
			top: 0;
			left: 90px;
			transform: translateX(-100%);
		}

		.carousel {
			width: 100%;
			height: auto;
			overflow-y: hidden;

			.carousel-inner {
				width: 100%;
				height: auto;
				overflow: visible !important;

				.carousel-item {
					width: 100%;
					height: 30vh;
					min-height: 350px;
					background-size: cover;
					background-position: center center;
					background-repeat: no-repeat;

					@include media-breakpoint-up(xl) {
						height: 50vh;
					}
				}
			}

			.caption {
				position: absolute;
				bottom: -90px;
				padding: 10px 0;
				color: rgba(#fff, 0.9);
				font-weight: 400;
				z-index: 10;
			}
		}
	}
}

#natural-selection, #we-love-salmon {
	> .container-fluid {
		height: 100%;

		> .row {
			height: 100%;
		}
	}

	.side-content-block {
		padding: 0;
		margin: 0;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;

		.top-content, .bottom-content {
			width: 100%;

			.row {
				height: 100%;
			}

			.intro-image {
				width: 100%;
				height: 100%;
				min-height: 300px;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
			}

			.left {
				position: relative;

				.outline {
					position: absolute;
					top: 0;
					right: 0;
					padding: 0; 
					margin: 0;
				}

				p {
					padding-top: 30px;
				}
			}
		}

		.big-header {
			padding-top: 90px;
			position: relative;
			font-size: 60px;
		}
	}

	.natural-selection, .we-love-salmon {
		width: 100%; 
		height: 100%;
		margin: 0;

		.bg-block {
			width: 100%;
			height: 0;
			min-height: 0;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;

			@include media-breakpoint-up(lg) {
				height: 100%;
				min-height: 100vh;
			}
		}
	}
}



#full-background {
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
}
